/*
CSS Classes
- box
- close-icon
- popup-box
*/

.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  height: auto;
  margin: 0 auto;
  margin-top: calc(100vh - 85vh - 20px);
  max-height: 70vh;
  overflow: visible;
  padding: 20px;
  position: relative;
  top: 10%;
  width: 400px;
  z-index: 100;
}

.close-icon {
  background: #ededed;
  border: 1px solid #999;
  border-radius: 50%;
  content: 'x';
  cursor: pointer;
  font-size: 20px;
  height: 25px;
  line-height: 20px;
  position: absolute;
  right: -16px;
  text-align: center;
  top: -22px;
  width: 25px;
  z-index: 110;
}

.popup-box {
  background: #00000050;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .box {
    width: 300px;
  }
}
