/* .App {
  text-align: center;
} */

button{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  font: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.report-in-list{
  border: 1px solid black;
  background-color: rgb(179, 179, 179);
  display: block;
  align-self: center;
  padding: 10px;
  
}

.report-in-list:hover{
  background-color: rgb(39, 194, 221);
}

.edit-button:hover{
  background-color: rgb(39, 194, 221);
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: rgb(116, 116, 116);
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Added CSS */

/*min-height-100vh*/
.min-height-100vh {
  min-height: 100vh;
}

/*mt-8 grid grid-cols-3 gap-4 h-screen p-6*/
.grid-department {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4px;
  height: 100vw;
  padding: 1.5rem;
}

/*text-center mx-6 row-span-2 bg-gray-300 rounded*/
.grey-block {
  text-align: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  grid-row: span 2 / span 2;
  background-color: #b98c8c;
  border-radius: 0.25rem;
}

.grey-blocks-form {
  padding: 10px;
  width: 50%;
  height: 50%;
  background-color: #e5baba;
  border-radius: 0.25rem;
  margin-left: 100px;
  margin-top: 100px;
}

.title-form {
  font-weight: bold;
  text-align: center;
}

.margin-left-50px {
  margin-left: 50px;
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.width-20-percent {
  width: 20% !important;
}

.button-form {
  height: 100%;
  margin-top: 25px;
  margin-left: 100px;
}
