/* .App {
  text-align: center;
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #eaecef;
}

header {
  padding: 30px;
  background: #011627;
  color: white;
  height: 40px;
}

.sidebar {
  width: 240px;
  background: #011627;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: all 1s;
}

.sidebar.active {
  left: 0;
}

.logo {

}
  
ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul lu a.active{
  background: #4d1717;

}

header svg {
  font-size: 30px;

}

.button{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  font: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.report-in-list{
  border: 1px solid black;
  background-color: rgb(179, 179, 179);
  display: block;
  align-self: center;
  padding: 10px;
  
}

.report-in-list:hover{
  background-color: rgb(39, 194, 221);
}

.edit-button:hover{
  background-color: rgb(39, 194, 221);
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}