.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Added CSS */

/*min-height-100vh*/
.min-height-100vh {
  min-height: 100vh;
}

/*mt-8 grid grid-cols-3 gap-4 h-screen p-6*/
.grid-department {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4px;
  height: 100vw;
  padding: 1.5rem;
}

/*text-center mx-6 row-span-2 bg-gray-300 rounded*/
.grey-block {
  text-align: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  grid-row: span 2 / span 2;
  background-color: #e2e8f0;
  border-radius: 0.25rem;
}

/*form block*/
.grey-blocks-form {
  padding: 10px;
  width: 50%;
  height: 50%;
  background-color: #e2e8f0;
  border-radius: 0.25rem;
}

/*header form*/
.header-form {
  font-weight: bold;
  text-align: center;
}