 .App {
  text-align: center;
} 

.logo {
  padding-left: 10px;
  width: 140px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #efeaea;
}

.nav-header {
  /* Nav bar */
  padding: 20px;
  background: #ffffff;
  color: #91908e; 
  height: auto;
  display:flex;
}

.svg-hamburger {
  /* Hamburger */
  font-size: 30px;
  cursor: pointer;
}

.report-in-list{
  border: 1px solid black;
  background-color: rgb(179, 179, 179);
  display: block;
  align-self: center;
  padding: 10px;
}

.report-in-list:hover{
  background-color: rgb(39, 194, 221);
}

.edit-button:hover{
  background-color: rgb(39, 194, 221);
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.view-department-button{
  background-color: #009cc4;
  font-weight: bold;
  font-family: Arial;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  width: 60%;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view-department-button:hover{
  background-color: #117088;
  font-family: Arial;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  width: 60%;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkmark-icon{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #59b030;
  position: relative;
  top: 12px;
  display:inline-block;
  margin:6px;
  margin-right: 12px;
}

.checkmark{
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 7.8px;
  top: 2px;
  width: 7px;
  height: 15px;
  border-color: white;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
}


.alert-icon{
  height: 30px;
  width: 30px;
  top: 12px;
  border-radius: 50%;
  background-color: #e57200;
  display:inline-block;
  position: relative;
  margin:6px;
  margin-right: 12px;
}
.alert::after,
.alert::before{
  content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 2px;
    width: 2.5px;
    background: white;
    left: 12.5px;
}
.alert::after {
  top: 4px;
  height: 14px
}
.alert::before {
  height: 1.6px;
  bottom: 10px
}