.App {
  text-align: center;
}
button{
  padding: 5px;
  border: 1px solid black;
  border-radius: 30px;
  align-items: center;
}

.report-in-list{
  border: 1px solid black;
  background-color: rgb(179, 179, 179);
  display: block;
  padding: 10px;
  
}

.report-in-list:hover{
  background-color: rgb(39, 194, 221);
}

.edit-button{
  background-color: rgb(189, 189, 189);
  padding: 10px;
}
.edit-button:hover{
  background-color: rgb(39, 194, 221);
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.report-list{
  border: 1px solid black;
  display: inline-block;
  overflow: scroll;
  margin: 30px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: rgb(116, 116, 116);
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}