.App {
  text-align: center;
  background-color: #f5f5f5;
}

* {
  font-family: Arial;
}

h2.inside-card {
  font-family: Arial;
  font-size: 30px;
  text-align: center;
}
.logo {
  padding-left: 10px;
  width: 140px;
}

body {
  background-color: #0f1066;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.svg-hamburger {
  /* Hamburger */
  font-size: 30px;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.view-department-button {
  background-color: #009cc4;
  font-weight: bold;
  font-family: Arial;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  width: 60%;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view-department-button:hover {
  background-color: #117088;
  font-family: Arial;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  width: 60%;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkmark-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #59b030;
  position: relative;
  top: 12px;
  display: inline-block;
  margin: 6px;
  margin-right: 12px;
}

.checkmark {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 7.8px;
  top: 2px;
  width: 7px;
  height: 15px;
  border-color: white;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.alert-icon {
  height: 30px;
  width: 30px;
  top: 12px;
  border-radius: 50%;
  background-color: #e57200;
  display: inline-block;
  position: relative;
  margin: 6px;
  margin-right: 12px;
}
.alert::after,
.alert::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 2px;
  width: 2.5px;
  background: white;
  left: 12.5px;
}
.alert::after {
  top: 4px;
  height: 14px;
}
.alert::before {
  height: 1.6px;
  bottom: 10px;
}
.gg-pen {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs, 1));
  width: 14px;
  height: 4px;
  border-right: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-right: -2px;
  float: right;
  margin-right: 20px;
  margin-top: 18px;
}

.gg-pen::after,
.gg-pen::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-pen::before {
  background: currentColor;
  border-left: 0;
  right: -6px;
  width: 3px;
  height: 4px;
  border-radius: 1px;
  top: 0;
}

.gg-pen::after {
  width: 8px;
  height: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid;
  left: -11px;
  top: -2px;
}
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
  float: right;
  margin-right: 20px;
  margin-top: 12px;
}

.gg-close::after,
.gg-close::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.gg-close::after {
  transform: rotate(-45deg);
}

.global-background {
  background-color: #f5f5f5;
  padding-top: 80px;
}

.nav-header {
  /* Nav bar */
  padding: 20px;
  background: #ffffff;
  position: fixed;
  color: #91908e;
  z-index: 1;
  height: auto;
  width: 100%;
  display: flex;
}
