version: '3.8'

services:
  ceres-client:
    build:
      context: ./ceres-client
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./ceres-client:/ceres-client
    ports:
      - 3000:3000
    image: ceres-client:client
    container_name: ceres-client
    command: npm start

  ceres-server:
    build:
      context: ./ceres-server
      dockerfile: Dockerfile
      target: base
    depends_on:
      - ceres-database
    stdin_open: true
    tty: true
    volumes:
      - ./ceres-server:/home/node/app/
    container_name: ceres-server
    ports:
      - 8080:8080
    command: npm run dev

  ceres-database:
    platform: linux/x86_64
    image: mysql:8.0
    build: ./ceres-database
    volumes:
      - ./ceres-database:/ceres-database
    ports:
      - 3306:3306
    environment:
      - MYSQL_DATABASE=ceresdb
      - MYSQL_USER=HHA
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=password
    container_name: ceres-database
