version: "3.8"

services:
  ceres-client:
    build:
      context: ./ceres-client
    volumes:
      - ./ceres-client:/ceres-client
    ports:
      - 3000:3000
    image: ceres-client:client
    container_name: ceres-client
    command: npm start

  ceres-server:
    build:
      context: ./ceres-server
      dockerfile: Dockerfile
      target: base
    depends_on:
      - ceres-database
    stdin_open: true
    tty: true
    volumes:
      - ./ceres-server/src:/home/node/app/src
      - ./ceres-server/nodemon.json:/home/node/app/nodemon.json
    container_name: ceres-server
    ports:
      - 8080:8080
    command: npm run dev

  ceres-database:
    image: mysql:8.0
    build: ./ceres-database
    environment:
      - MYSQL_DATABASE=ceresdb
      - MYSQL_USER=HHA
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=password
