/*
Citation: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_fixed
*/
.background {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 80px 200px;
}
.individual-card {
  display: inline;
  background-color: rgb(245, 245, 245);
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  padding: 25px;
  border-radius: 5px;
  border-color: #d6d6d6;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
}
.inside-card {
  font-family: Arial;
  font-size: 30px;
  text-align: center;
}
.inside-text {
  font-family: Arial;
  font-size: 25px;
  text-align: left;
  margin: 6px;
  position: relative;
  margin-left: 12px;
}
.department-header {
  list-style-type: none;
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.department-logo {
  height: 35px;
  width: 140px;
  margin: 6px;
  margin-left: 10px;
}
.logout-button {
  background-color: rgb(245, 245, 245);
  font-family: Arial;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border-color: #d6d6d6;
  width: 100px;
  position: absolute;
  top: 20px;
  right: 1%;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
}
.admin-button {
  background-color: #823b8a;
  font-family: Arial;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border-color: #d6d6d6;
  width: 150px;
  position: absolute;
  top: 80px;
  right: 1%;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
}
@media only screen and (max-width: 1140px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 80px 200px;
  }
}
@media only screen and (max-width: 770px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 80px 5px;
  }
}
