/*Citation: https://github.com/mustafaerden/react-admin-dashboard*/

dashboard {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.dashboard__container {
  padding: 20px 35px;
}

.dashboard__title {
  display: flex;
  align-items: center;
}

.dashboard__title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.dashboard__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.dashboard__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.dashboard__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

.card {
  display: inline;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 600px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
  display: inline;
  font-size: 25px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  
}

.card1 {
  background: #d1ecf1;
  color: #35a4ba;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}

.card2 {
  background: #d2f9ee;
  color: #38e1b0;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}

.card3 {
  background: #d6d8d9;
  color: #3a3e41;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}

.card4 {
  background: #fddcdf;
  color: #f65a6f;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}

.add_button{
  background-color: #59b030;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 80%;
  position: absolute;
  bottom: 10%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.add_button:hover{
  background-color: #3a791c;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 80%;
  position: absolute;
  bottom: 10%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.view_button{
  background-color: #009cc4;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 6px;
  width: 80%;
  position: absolute;
  bottom: 0%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.view_button:hover{
  background-color: #117088;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 6px;
  width: 80%;
  position: absolute;
  bottom: 0%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

@media only screen and (max-width: 855px) {
  .dashboard__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}
