/*
  Citations: 
    https://github.com/mustafaerden/react-admin-dashboard
    https://www.codegrepper.com/code-examples/css/how+to+center+a+button+css+with+absolute+position
    https://www.w3schools.com/css/css3_buttons.asp*

  CSS Classes
  - align-left
  - align-right
  - card
  - card-inner
  - center-content
  - dashboard-cards
  - dashboard-container
  - due-content
  - employee-paragraph
  - fill-space-left
  - fill-space-left
  - heading-1
  - height-100-percent
  - icon
  - leaderboard
  - profile-pic
  - responsive-calendar
  - responsive-leaderboard
  - title
  - width-100-percent

  Responsive CSS Classes
  - dashboard-cards
*/

.align-left {
  float: left !important;
}

.align-right {
  float: right !important;
}

.card {
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
  border-radius: 5px;
  flex: 1;
  margin: 0 !important;
}

.card-inner {
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.19), 6px 6px 20px 6px rgba(0, 0, 0, 0.19);
  display: inline;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.center-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-cards {
  display: flex;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dashboard-container {
  background-color: #f5f5f5;
  display: flex;
  height: 100%;
  padding: 20px 35px;
}

.due-content {
  margin-top: 20px;
}

.employee-paragraph {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-indent: 30px;
}

.fill-space-left {
  padding-left: 10%;
}

.fill-space-right {
  padding-right: 10%;
}

.flex {
  display: flex;
}

.flex-shrink{
  max-width: 100% !important;
  height: auto !important;
  flex-shrink:3 !important;
}

.heading-1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.height-100-percent {
  height: 100%;
}

.icon {
  height: 30px;
  width: 30px;
}

.leaderboard {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic {
  border: 2px solid black;
  height: auto;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.responsive-calendar {
  font-size: 80%;
}

.responsive-leaderboard {
  height: auto;
  text-align: center;
  width: 470px;
}

.title {
  font-size: 25px;
  text-align: center;
}

.width-100-percent {
  width: 100%;
}

@media only screen and (max-width: 855px) {
  .dashboard-cards {
    gap: 10px;
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
}

/*CITATION: https://stackoverflow.com/questions/23081227/how-to-resize-div-and-contents-for-any-screen-size*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Here you should set what size you want your div to be 
when viewed on smartphone */
/* Styles */
.flex-shrink{
  position: relative;
  margin-left: 500px;
  max-height: 50% !important;
  max-width: 50% !important;
  height: auto !important;
  flex-shrink:3 !important;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.flex-shrink{
  position: relative;
  margin-left: 500px;
  max-height: 50% !important;
  max-width: 50% !important;
  height: auto !important;
  flex-shrink:3 !important;
}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
.flex-shrink{
  max-height: 100% !important;
  max-width: 100% !important;
  height: auto !important;
  flex-shrink:3 !important;
}

}