/*
  Citations: 
    https://github.com/mustafaerden/react-admin-dashboard
    https://www.codegrepper.com/code-examples/css/how+to+center+a+button+css+with+absolute+position
    https://www.w3schools.com/css/css3_buttons.asp*

  CSS Classes
  - align-left
  - align-right
  - card-inner
  - card-outer
  - center-content
  - dashboard-cards
  - dashboard-container
  - due-content
  - due-in-red
  - employee-paragraph
  - fill-space-left
  - fill-space-left
  - flex-shrink
  - heading-1
  - height-100-percent
  - icon
  - icon-case-study
  - icon-mspp-report
  - instructions
  - leaderboard
  - profile-pic
  - responsive-calendar
  - responsive-leaderboard
  - title
  - width-100-percent

  Responsive CSS Classes
  - dashboard-cards
  - dashboard-container
  - flex-shrink
*/

.align-left {
  float: left !important;
}

.align-right {
  float: right !important;
}

.card-inner {
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.19), 6px 6px 20px 6px rgba(0, 0, 0, 0.19);
  display: inline;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  width: 100%;
}

.card-outer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 5px;
  background-color: transparent !important;
  border-color: transparent !important;
  flex: 1;
  margin: 0 !important;
}

.center-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-cards {
  display: flex;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dashboard-container {
  background-color: #f5f5f5;
  padding: 20px 35px;
}

.due-content {
  margin-top: 20px;
}

.due-in-red {
  color: red;
}

.employee-paragraph {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-indent: 30px;
  width: 100%;
}

.fill-space-left {
  padding-left: 10%;
}

.fill-space-right {
  padding-right: 10%;
}

.flex {
  display: flex;
}

.flex-shrink {
  flex-shrink: 3 !important;
  height: auto !important;
  max-width: 100% !important;
}

.google-visualization-tooltip {
  white-space: nowrap !important;
}

.heading-1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.height-100-percent {
  height: 100%;
}

.icon {
  height: 30px;
  width: 30px;
}

.icon-case-study {
  color: green;
}

.icon-mspp-report{
  color: red;
}

.instructions {
  cursor: pointer;
}

.leaderboard {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic {
  border: 2px solid black;
  height: auto;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.responsive-calendar {
  font-size: 80%;
}

.responsive-leaderboard {
  height: auto;
  text-align: center;
  width: 470px;
}

.title {
  font-size: 25px;
  text-align: center;
}

.width-100-percent {
  width: 100%;
}

.grey-button {
  background-color: rgb(245, 245, 245);
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  position: absolute;
  text-align: center;
  width: 100px;
}

@media only screen and (max-width: 855px) {
  .dashboard-cards {
    gap: 10px;
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .dashboard-container {
    background-color: #f5f5f5;
    display: flex;
    padding: 20px 35px;
    width: 150%;
  }
  /* Styles */
  .flex-shrink {
    flex-shrink: 3 !important;
    height: auto !important;
    margin-left: 500px;
    max-height: 50% !important;
    max-width: 50% !important;
    position: relative;
  }
}


/*CITATION: https://stackoverflow.com/questions/23081227/how-to-resize-div-and-contents-for-any-screen-size*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .dashboard-container {
    background-color: #f5f5f5;
    display: flex;
    padding: 20px 35px;
    width: 300%;
  }
  /* Smartphone ----------- */
  .flex-shrink {
    flex-shrink: 3 !important;
    height: auto !important;
    margin-left: 500px;
    max-height: 50% !important;
    max-width: 50% !important;
    position: relative;
  }
}
