/*Citation: https://github.com/mustafaerden/react-admin-dashboard*/
/*Citation: https://www.codegrepper.com/code-examples/css/how+to+center+a+button+css+with+absolute+position*/
/*Citation: https://www.w3schools.com/css/css3_buttons.asp*/

.dashboard-container {
  padding: 20px 35px;
  display: flex;
  flex: 0;
  background-color: #f5f5f5;
}

.dashboard-title {
  display: flex;
  align-items: center;
}

.dashboard-title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.dashboard-greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.dashboard-greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.dashboard-cards {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  /*margin: 20px 0;*/
}

.card {
  /*padding: 25px;*/
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 5px;
  background-color: #f5f5f5 !important;
  /*border-color: #f5f5f5 !important;*/
}

.title {
  font-size: 25px;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}

.due-content {
  margin-top: 20px;
}

.width-40-percent {
  width: 40%;
}

.width-70-percent {
  width: 70%;
}

.width-80-percent {
  width: 80%;
}

.width-100-percent {
  width: 100%;
}

.height-100-percent {
  height: 100%;
}

.height-60-percent {
  height: 40%;
}

.height-80-percent {
  height: 80%;
}

.leaderboard{
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  width: 30px;
  height: 30px;
}

.card-inner {
  display: inline;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.19), 6px 6px 20px 6px rgba(0, 0, 0, 0.19);
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
}

.add-button {
  background-color: #59b030;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 80%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.add-button:hover {
  background-color: #3a791c;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 80%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.view-button {
  background-color: #009cc4;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 6px;
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.view-button:hover {
  background-color: #117088;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 6px;
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.profile-pic {
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
}

.employee-paragraph {
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 855px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}
