.container {
    width: 100% !important;
    text-align: center;
  }
  
  .card {
    text-align: center;
    /* justify-content: space-around; */
    height: auto;
    width: auto;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    margin-bottom: 10px;
  }
  
  .card-inner-case-study {
    display: inline;
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .radio-button {
    margin-right: 10px;
  }
  
  .button {
    background-color: #009cc4;
    font-weight: bold;
    font-family: Arial;
    color: white;
    border: none;
    font-size: 20px;
    padding: 4px 10px;
    text-align: center;
    border-radius: 5px;
    width: inherit;
    box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .button-new-case {
    background-color: #009cc4;
    font-weight: bold;
    font-family: Arial;
    color: white;
    border: none;
    font-size: 20px;
    padding: 4px 10px;
    text-align: center;
    border-radius: 5px;
    width: 325px;
    box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .input {
    background-color: white;
    font-weight: bold;
    font-family: Arial;
    color: white;
    border: none;
    font-size: 20px;
    padding: 4px 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    width: inherit;
    box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .input::placeholder {
    text-align: left;
  }
  
  table {
    border: none !important;
    outline: none !important;
    text-align: left;
    margin: auto;
  }
  
  .filter-container {
    width: 275px;
  }
  
  td {
    vertical-align: top;
    width: 350px;
  }
  
  .case-study-block-container {
    background-color: palegoldenrod;
  }
  
  .case-study-block {
    border: 10pt !important;
    border-color: black !important;
    display: flex;
    text-align: left !important;
    background-color: white;
  }
  
  .case-study-block-image {
    vertical-align: middle;
    width: 300px;
  }
  
  .case-study-block-text {
    word-break: break-all;
    width: 1000px !important;
    height: auto;
    margin-left: 0px !important;
    text-align: left !important;
  }
  
  .case-study-block-button {
    width: 100px;
    margin-left: 0px;
    margin-right: auto;
    text-align: center !important;
    vertical-align: middle;
  }
  
  .add-case-container {
    vertical-align: top;
    margin: 0px;
  }
  