/*Citation: https://github.com/mustafaerden/react-admin-dashboard*/

.blocks-form {
  padding: 25px 25px 36px 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 700px;
  height: 800px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.19), 6px 6px 20px 6px rgba(0, 0, 0, 0.19);
  overflow: scroll;
}

.title-form {
  font-weight: bold;
  text-align: center;
}




.width-40-percent {
  width: 40% !important;
}





.field-invalid-border {
  box-shadow: 0px 0px 2px 2px red;  
}

.required {
  color: red;
}


.button-form {
  position: relative;
  bottom: 10px;
}

.view-submit-form-button{
  background-color: #009cc4;
  font-weight: bold;
  font-family: Arial;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view-submit-form-button:hover{
  background-color: #117088;
  font-family: Arial;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view-cancel-form-button{
  background-color: #555555;
  font-weight: bold;
  font-family: Arial;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view-cancel-form-button:hover{
  background-color: #555555;
  font-family: Arial;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}






/*Toggle button CSS from: https://www.geeksforgeeks.org/how-to-create-a-toggle-switch-in-react-as-a-reusable-component/ [Copied code]*/ 
.container {
  text-align:center;
  font-weight: bold;
}
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "";
  padding-left: 10px;
  background-color: rgb(0, 255, 0);
  color: #fff;
}
.inner:after {
  content: "";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}