/*Citation: https://github.com/mustafaerden/react-admin-dashboard*/

.outer-block {
  width: 700px;
  height: 800px;
  margin-right: auto;
  margin-left: auto;
}

.blocks-form {
  padding: 25px 25px 36px 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 700px;
  height: 800px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 6px rgba(0, 0, 0, 0.19), 6px 6px 20px 6px rgba(0, 0, 0, 0.19);
}

.scroll-box {
  padding: 25px 25px 36px 25px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  width: 650px;
  height: 650px;
  overflow: scroll;
}

.title-form {
  font-weight: bold;
  text-align: center;
}





.width-40-percent {
  width: 40% !important;
}





.field-invalid-border {
  box-shadow: 0px 0px 2px 2px red;  
}

.required {
  color: red;
}


.button-form {
  position: relative;
  bottom: 10px;
}

.view-submit-form-button{
  background-color: #009cc4;
  font-weight: bold;
  font-family: Arial;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view-submit-form-button:hover{
  background-color: #117088;
  font-family: Arial;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grey-button {
  background-color: rgb(245, 245, 245);
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  position: absolute;
  text-align: center;
  width: 100px;
}

.view-cancel-form-button{
  background-color: #555555;
  font-weight: bold;
  font-family: Arial;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view-cancel-form-button:hover{
  background-color: #555555;
  font-family: Arial;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}






/*Toggle button CSS from: https://www.geeksforgeeks.org/how-to-create-a-toggle-switch-in-react-as-a-reusable-component/ [Copied code]*/ 
.container {
  text-align: left;
  font-weight: bold;
}
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "";
  padding-left: 10px;
  background-color: rgb(0, 255, 0);
  color: #fff;
}
.inner:after {
  content: "";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}

.displaying-form-elements{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 1em;
  overflow-y: scroll;
  max-height: 25em;
}


@media only screen and (max-width: 800px){
  .blocks-form{
    width: 100%;
    height: 820px;
  }

  .outer-block{
    width: 75%;
  }
  .scroll-box{
    width: 100%;
  }

  .scroll-box > div> label{
    font-size: 16px !important;
  }

  .scroll-box > div> input{
    font-size: 16px !important;
  }
  .view-cancel-form-button{
    font-size: 18px;
  }
  .view-submit-form-button{
    font-size: 18px;
  }
}

@media only screen and (max-width: 650px){
  .title-form > label{
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 550px){
  .title-form > label{
    font-size: 16px !important;
  }

  .scroll-box > div> label{
    font-size: 14px !important;
  }

  .scroll-box > div> input{
    font-size: 14px !important;
  }
  .view-cancel-form-button{
    font-size: 16px;
  }
  .view-submit-form-button{
    font-size: 16px;
  }
}


@media only screen and (max-width: 450px){
  .title-form > label{
    font-size: 14px !important;
  }

  .scroll-box > div> label{
    font-size: 12px !important;
  }

  .scroll-box > div> input{
    font-size: 12px !important;
  }
  .view-cancel-form-button{
    font-size: 14px;
  }
  .view-submit-form-button{
    font-size: 14px;
  }
}



@media only screen and (max-width: 400px){
  .title-form > label{
    font-size: 12px !important;
  }

  .scroll-box > div> label{
    font-size: 10px !important;
  }

  .scroll-box > div> input{
    font-size: 10px !important;
  }
  .view-cancel-form-button{
    font-size: 12px;
  }
  .view-submit-form-button{
    font-size: 12px;
  }
}
