.data-list {
  margin: 2em;
  padding: 25px;
  border: 1px solid rgb(204, 204, 204);
  height: 500px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.list-of-reports {
  overflow: auto;
  padding: 0em;
  max-height: 23rem;
}
.input-box {
  border: 1px solid rgb(233, 233, 233);
  text-align: center;
  border-radius: 0.25rem;
  background-color: rgb(241, 241, 241);
}

.input-box-empty {
  border: 2px solid rgb(202, 0, 0);
  text-align: center;
  border-radius: 0.25rem;
  background-color: rgb(241, 241, 241);
}

.report-data-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-title {
  background-color: #e57200;
  color: white;
  justify-self: stretch;
  text-align:center;
  border-radius: 0.25rem;
  font-weight: bold;
  height: 30px;
  padding-top: 3px;
}

.displaying-form {
  margin: 2em;
  display: grid;
  border-radius: 0.25rem;
  border: 0.5px solid rgb(199, 199, 199);
  box-shadow: 5px 5px 13px #afafaf, -5px -5px 13px #ffffff;
  background-color: white;
}

.displaying-form-elements {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 1em;
  overflow-y: scroll;
  max-height: 25em;
}

.report-in-list {
  border: 0.5px solid rgb(161, 161, 161);
  background-color: #fbfbfb;
  display: flex;
  padding: 4px;
  min-width: 17rem;
}

.report-view-button {
  background-color: #4aa9c9;
  float: right;
  padding: 6px;
  border-radius: 0.25rem;
  box-shadow: 1px 3px 5px rgb(211, 211, 211);
}
.report-in-list:nth-child(even) {
  background-color: #e7e7e7;
}

.report-view-button:hover {
  background-color: #62c8eb;
}

.edit-button:hover {
  background-color: rgb(119, 227, 247);
}

.edit-button {
  color: white;
  border-radius: 0.25rem;
  background-color: #4aa9c9;
  margin: 0.75rem;
  width: 8rem;
  padding: 5px;
  font-weight: bold;
}
.update-button {
  color: white;
  border-radius: 0.25rem;
  background-color: #59b030;
  padding: 6px;
  margin: 0.75rem;
  width: 7rem;
  float: right;
  font-weight: bold;
}
.cancel-button {
  color: black;
  border-radius: 0.25rem;
  background-color: #dedad4;
  padding: 6px;
  margin: 0.75rem;
  width: 7rem;
  float: right;
  font-weight: bold;
}

.data-header {
  display: flex;
  justify-content: space-between;
}

.cancel-button:hover {
  background-color: rgb(131, 131, 131);
}
.update-button:hover {
  background: rgb(79, 138, 79);
}


.grey-button {
  background-color: rgb(245, 245, 245);
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  position: absolute;
  text-align: center;
  width: 100px;
}