.data-list {
  margin: 2em;
  padding: 25px;
  border: 1px solid #d6d6d6;
  height: 500px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
}

.list-of-reports {
  overflow: auto;
  padding: 0em;
  max-height: 23rem;
}
.input-box {
  border: 1px solid #d6d6d6;
  text-align: center;
  border-radius: 0.25rem;
  background-color: rgb(241, 241, 241);
}

.input-box-empty {
  border: 2px solid rgb(202, 0, 0);
  text-align: center;
  border-radius: 0.25rem;
  background-color: rgb(241, 241, 241);
}

.report-data-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-title {
  background-color: #e57200;
  color: white;
  justify-self: stretch;
  text-align: center;
  border-radius: 0.25rem;
  font-weight: bold;
  height: 30px;
  padding-top: 3px;
}

.displaying-form {
  margin: 2em;
  display: grid;
  border-radius: 0.25rem;
  border: 0.5px solid #d6d6d6;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  background-color: white;
}

.displaying-form-elements {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 1em;
  overflow-y: scroll;
  max-height: 25em;
}

.report-in-list {
  border: 0.5px solid #fafafa;
  background-color: #fbfbfb;
  display: flex;
  padding: 4px;
  min-width: 17rem;
}

.report-view-button {
  background-color: #4aa9c9;
  float: right;
  padding: 6px;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
}
.report-in-list:nth-child(even) {
  background-color: #f0f0f0;
}

.edit-button {
  color: white;
  border-radius: 0.25rem;
  background-color: #4aa9c9;
  margin: 0.75rem;
  width: 8rem;
  padding: 5px;
  font-weight: bold;
}
.update-button {
  color: white;
  border-radius: 0.25rem;
  background-color: #59b030;
  padding: 6px;
  margin: 0.75rem;
  width: 7rem;
  float: right;
  font-weight: bold;
}
.cancel-button {
  color: black;
  border-radius: 0.25rem;
  border-color: #d6d6d6;
  border-width: 1px;
  background-color: rgb(245, 245, 245);
  padding: 6px;
  margin: 0.75rem;
  width: 7rem;
  float: right;
  font-weight: bold;
}

.data-header {
  display: flex;
  justify-content: space-between;
}
