.questionMenu {
  background-color: white;
  height: 100%;
}

.dashboard-title {
  grid-area: header;
}

.question-list {
  grid-area: sidebar;
  text-align: left;
}

.plot {
  grid-area: content;
  height: 100%;
  width: 100%
}

.grid-container {
  padding: 1em;
  display: grid;
  grid-template-columns: 0.3fr 1.4fr;
  grid-template-rows: 0.5fr 0.2fr 2.3fr;
  gap: 11px 35px; 
  grid-template-areas:
    "header header"
    ". filter"
    "sidebar content"
    "sidebar content"
}

.radio-button {
  margin-right: 10px;
}

.dashboard-title {
  font-size: 2em;
  font-weight: bold;
}

.statistics-dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  height: 60vh;
}

.statistics-card {
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-container {
  width: 80%;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 85vh;
}

.date-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-from {
  display: flex;
  align-items: center;
}

.date-to {
  display: flex;
  align-items: center;
}

.test {
  align-items: center;
  appearance: none;
  background-color: white;
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(110, 100, 100, 0.2);
  color: rgb(0, 0, 0);
  display: grid;
  display: inline-block;
  font-family: Arial;
  grid-template-areas: 'select';
  outline: none;
  margin: 4px;
  /* min-width: 290px; */
  padding: 0.5em 3.5em 0.5em 1em;
  /* width: 50%; */
}

.filter-label {
  margin-right: 5px;
}

.button {
  margin: 5px;
}
