.question-menu {
  background-color: white;
  height: 100%;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

.question-list {
  text-align: left;
}

.plot {
  height: 100%;
  width: 100%
}

.radio-button {
  margin-right: 10px;
}

.dashboard-title {
  font-size: 2em;
  font-weight: bold;
  width: 100% !important;
  margin-right: auto;
  margin-left: auto;
}

.statistics-dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:  center;
  padding-left: 50px;
  padding-right: 50px;
}

.statistics-card {
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-container {
  width: 80%;
  padding-left: 15px;
}

.left-container {
  background-color: white;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 80vh; */
}

.grey-button {
  background-color: rgb(245, 245, 245);
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  position: absolute;
  text-align: center;
  width: 100px;
}

.date-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-from {
  display: flex;
  align-items: center;
}

.date-to {
  display: flex;
  align-items: center;
}

.filter-input {
  align-items: center;
  background-color: white;
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(110, 100, 100, 0.2);
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: Arial;
  outline: none;
  margin: 4px;
  padding: 0.5em 3.5em 0.5em 1em;
}

.filter-label {
  margin-right: 5px;
}

.button {
  margin: 5px;
}

.user-select-none,.main-svg{
  width: 100% !important;
}
@media only screen and (max-width: 750px){
  .statistics-dashboard-container{
    display: flex;
    flex-direction: column;
  }

  .parent-div-statistics{
    display: flex;
    flex-direction: column;
  }

  .outer-container{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;

  }

  .right-container{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
  }
}

@media only screen and (max-width: 550px){
  select{
    min-width: 170px;
  }

  .filter-input{
    min-width: 120px;
  }

  .right-container{
    width: 100%;
  }

}

@media only screen and (max-width: 450px){
  select{
    min-width: 130px;
  }

  .filter-input{
    min-width: 100px;
  }
}


