label.admin-inside-text {
  font-family: Arial;
  font-size: 25px;
  margin: 4px;
  position: relative;
  text-align: center;
}
.admin-response {
  align-items: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.2);
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  font-size: 15px;
  height: 40px;
  margin: 4px;
  padding: 0.5em 1em 0.5em 0.8em;
  position: relative;
  text-align: left;
  width: 50%;
}
.admin-cards {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin: 95px 200px;
}
.admin-individual-card {
  background-color: rgb(255, 255, 255);
  border-color: #d6d6d6;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  display: inline;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  padding: 25px;
  position: relative;
  overflow-y: scroll;
}
option:first-child {
  display: none;
}
