.link {
    color: #91908e;
    padding-left: 20px;
    font-size: 14px;
}

ul li .button {
    /* Dropdown button */
    background-color: white;
    width: auto;
    color: #91908e;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial;
    display: flex;
    padding: 10px 0px;
    border-radius: 6px;
    display:flex;
    border: none;
    padding: 10px 0px;
    border-radius: 6px;
}

.button:focus {
    background-color: white;
    color: #0a58ca;
    box-shadow: none;
}

.button:hover {
    background-color: #00abcd;
    color: #0a58ca;
    box-shadow: none;
}