.sidebar {
  /* When sidebar is open */
  display: block;
  width: 240px;
  background: #ffffff;
  position: absolute;
<<<<<<< HEAD
  height: 91vh;
=======
  height: 100%;
>>>>>>> a0764ae0adc206367a612a4bf21f1ac4717a7172
  left: -100%;
  transition: all 0.3s;
  text-align: left;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

.sidebar.active {
  /* When sidebar is closed */
  left: 0;
}

.side-link {
  /* Links to other pages */
  color: #91908e !important;
  padding-left: 10px !important;
  margin-left: 10px;
  font-size: 14px !important;
  align-items: center !important;
}

.drop-link {
  /* Links that descend from a dropdown button */
  color: #91908e;
<<<<<<< HEAD
  padding-left: 40px;
=======
  padding-left: 20px;
>>>>>>> a0764ae0adc206367a612a4bf21f1ac4717a7172
  font-size: 14px;
}

ul li a:hover,
ul li a.active {
  /* Sidebar link's being hovered */
  background: #e7e7e7;
  color: #555555;
}

.side-button {
  /* Dropdown button */
  background: white !important;
  color: #91908e !important;
  border: none !important;
  color: #91908e !important;
  font-size: 14px !important;
  font-family: Arial !important;
  border: none !important;
  display: flex !important;
  width: 100% !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  align-items: center !important;
}

.side-button:focus {
  background-color: white !important;
  color: #555555 !important;
  box-shadow: none !important;
  display: flex !important;
}

.side-button:hover {
  background: #e7e7e7 !important;
  color: #555555 !important;
  box-shadow: none !important;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  padding-left: 0px;
}

ul li a {
  /* Sidebar buttons */
  color: #58554d;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial;
  padding: 10px 0px;
  border-radius: 6px;
  display: flex;
}

svg {
  /* Space between react-icons and button labels */
  margin-right: 10px !important;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 5px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #efeaea;
}
