.sidebar {
  /* When sidebar is open */
  width: 240px;
  background: #ffffff;
  position: absolute;
  height: 95vh;
  left: -100%;
  transition: all 0.3s;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.sidebar.active {
  /* When sidebar is closed */
  left: 0;
}

.sideLink {
  /* Links to other pages */
  color: #91908e;
  padding-left: 20px;
  font-size: 14px;
}

.dropLink {
    /* Links that descend from a dropdown button */
    color: #91908e;
    padding-left: 40px;
    font-size: 14px;
}

ul li a:hover,
ul lu a.active {
  /* Sidebar link's being hovered */
  background: #e7e7e7;
  color: #555555;
}

.sideButton {
  /* Dropdown button */
  background: white;
  color: white;
  border: none;
  color: #91908e;
  font-size: 14px;
  font-family: Arial;
  border: none;
  padding-left: 20px;
  display: flex;
  /* TODO: Find better way to specify width */
  width: 240px;
}

.sideButton:focus {
  background-color: white;
  color: #555555;
  box-shadow: none;
  display: flex;
}

.sideButton:hover {
  background: #e7e7e7;
  color: #555555;
  box-shadow: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

ul li a {
  /* Sidebar buttons */
  color: #58554d;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial;
  padding: 10px 0px;
  border-radius: 6px;
  display: flex;
}

svg {
  /* Space between react-icons and button labels */
  margin-right: 10px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #efeaea;
}
