/*
Citations: 
  https://github.com/mustafaerden/react-admin-dashboard
  https://codepen.io/vkjgr/pen/VYMeXp

CSS Classes
- blue-button
- blue-button-popup
- cards-casestudy
- case-study-background
- casestudy-single-card
- grey-button
- grey-button-popup
- h2.questions
- inside-text-case-study
- person_image
- select
- select.minimal
- textarea.response
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-button-popup,
.blue-button {
  background-color: #009cc4;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  position: absolute;
  text-align: center;
  width: 100px;
}

.blue-button-popup {
  position: relative;
}

.cards-case-study {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 20px 200px;
}
.casestudy-background {
  background-color: #f5f5f5;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  padding-top: 80px;
}
.casestudy-single-card {
  background-color: rgb(255, 255, 255);
  border-color: #d6d6d6;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  display: inline;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  min-height: 90vh;
  padding: 80px;
  position: relative;
  width: 100%;
}

.grey-button-popup,
.grey-button {
  background-color: rgb(245, 245, 245);
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  position: absolute;
  text-align: center;
  width: 100px;
}

.grey-button-popup {
  position: relative;
}

h2.questions {
  font-family: Arial;
  font-size: 20px;
}
.inside-text-case-study,
label.inside-text-case-study {
  font-family: Arial;
  font-size: 20px;
  margin: 4px;
  position: relative;
  text-align: left;
}

.person_image {
  height: 130px;
  width: 140px;
}
select {
  align-items: center;
  appearance: none;
  background-color: white;
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.2);
  color: rgb(0, 0, 0);
  display: grid;
  display: inline-block;
  font-family: Arial;
  grid-template-areas: 'select';
  outline: none;
  margin: 4px;
  min-width: 290px;
  padding: 0.5em 3.5em 0.5em 1em;
  width: 50%;
}
.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  margin: 4px;
  width: 400px !important;
}
.minimal>div{
  border: 0.5px solid black !important;
  margin-top: 10px;
  margin-bottom: 20px;
}

textarea.response {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.2);
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  font-size: 15px;
  height: 40px;
  margin: 4px;
  padding: 0.5em 1em 0.5em 0.8em;
  position: relative;
  text-align: left;
  width: 100%;
}



@media only screen and (max-width: 1028px){
  .cards-case-study{
    margin: 20px 150px;
  }

  .casestudy-single-card{
    min-height: 70vh;
  }

  .minimal {
    width: 300px !important;
  }

  .photo-text{
    font-size: 14px;
  }

  .input-photo{
    font-size: 16px;
  }

  .inside-card{
    margin-top: 0.5rem;
    font-size: 16px;
  }
  
}

@media only screen and (max-width: 830px){
  .photo-text{
    font-size: 12px;
  }

}

@media only screen and (max-width: 600px){
  .cards-case-study{
    margin-top: 0px;
  }

  .popup-question{
    font-size: 16px;
  }
  .popup-warning{
    font-size: 14px;
  }

  .inside-card{
    font-size: 15px;
  }

  .casestudy-single-card{
    padding-top: 20px;
  }

  .minimal {
    width: 275px !important;
  }

  .photo-flex{
    flex-direction: column;
  }
  .inside-text-case-study,
  label.inside-text-case-study {
    font-size: 16px;
  }
  
  .input-photo{
    font-size: 12px;
  }

  .input-declaration{
    padding-left: 0px;
  }

  .minimal>div{
    font-size: 12px !important;
  }

  select{
    padding: 0.5em 1em 0.5em 1em;
  }
  .logout-button{
    font-size: 10px !important;
    width: 90px !important;
  }
}

