/*
Citations: 
  https://github.com/mustafaerden/react-admin-dashboard
  https://codepen.io/vkjgr/pen/VYMeXp

CSS Classes
- case-study-background
- h2.questions
- inside-text-case-study
- logout-button
- select
- select.minimal
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
.casestudy-background {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
h2.questions {
  font-family: Arial;
  font-size: 20px;
}
.inside-text-case-study {
  font-family: Arial;
  font-size: 25px;
  margin: 6px;
  margin-left: 12px;
  position: relative;
  text-align: left;
}
.logout-button {
  background-color: rgb(245, 245, 245);
  font-family: Arial;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border-color: #d6d6d6;
  width: 100px;
  position: absolute;
  top: 30%;
  right: 1%;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
}
select {
  appearance: none;
  background-color: white;
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
  color: rgb(0, 0, 0);
  font-family: Arial;
  outline: none;
  padding: 0.5em 3.5em 0.5em 1em;
  width: 50%;
  min-width: 290px;
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  display: inline-block;
}
select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
