/*Citation: https://github.com/mustafaerden/react-admin-dashboard*/
.background {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 80%;
  height: 600px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
